/* Estilos globales (colores base) */

:root {
  --color-bg: #000000;
  --color-text: #fffaff;
  --color-accent: #c97bfa; 
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
    text-decoration:dashed underline;
}
